body {
    margin: 0;
    padding: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-description {
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex-wrap: wrap;
}

.link-groups {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    gap: 15px;
}

.hero-container {
    background-color: #1F2937;
    padding-bottom: 50px;
}

.hero-container-image {
    width: 600px;
}

.hero-image {
    width: 350px;
    height: 150px;
    background-image: url(images/nova-tecnologia-fibra-optica.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.hero-image:hover {
    background-image: url(images/rock-one-eyebrow-raised-rock-staring.gif);
}

.hero-main-text {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 135px;
}

.hero-secondary-text {
    font-size: 16px;
    color: #E5E7EB;
    margin-left: 135px;
}

.hero-button {
    margin-left: 135px;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    padding: 5px;
    color: #E5E7EB;
    font-weight: bold;
}

.hero-container-2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.hero-service-text {
    font-size: 20px;
    font-weight: bolder;
}

.hero-container-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.hero-container-testimonial {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    align-items: center;
    padding: 50px;
    gap: 15px;
}

.hero-testimonial {
    font-style: italic;
    color: #1F2937;
    flex: 1 1 auto;
}

.hero-testimonial-client {
    font-weight: bold;
    color: #1F2937;
}

.hero-container-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero-action-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 15px;
    gap: 50px;
}

.hero-action-button {
    display: flex;
    align-items: center;
}

.btt {
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
}

.hero-speed-icon, .hero-stability-icon, .hero-range-icon, .hero-tech-icon {
    width: 50px;
    height: 50px;
}

.hero-speed, .hero-stability, .hero-range, .hero-technology {
    width: 100px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.action-h1 {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
}

.action-desc {
    color: #F9FAF8;
    margin-top: -10px;
}